* {
  font-family: sans-serif; 
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
  background-color: #9CD7FC;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

table th,
table td {
  padding: 12px 15px;
  cursor: pointer;
  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
 }

table tbody tr {
  border-bottom: 1px solid #dddddd;
}

table td:nth-child(1),
table td:nth-child(4)
{
  color: red;
}

table td:nth-child(6)
{
  color: blue;
 font-weight: bold


}


table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

table .th-sort-asc::after {
  content: "\25b4";
}

table .th-sort-desc::after {
  content: "\25be";
}

table .th-sort-asc::after,
table .th-sort-desc::after {
  margin-left: 5px;
}

table .th-sort-asc,
table .th-sort-desc {
  background: rgba(0, 0, 0, 0.1);
}